<div class="text-white mt-3 ps-2">
    <h3>{{data}}</h3>
    <!-- string interpollation -->
</div>

<h1 class="text-center mt-5 p-3" style="color:rgb(6, 52, 95)">Sign In</h1>
<form style="background-color: rgb(0, 83, 161); border-radius: 20px;" action="" class="mt-2 p-3 w-50 container text-center border">
    <div>
        <input [(ngModel)]="acno" name="uname" id="u1" class="form-control  p-2" type="text" [placeholder]="data1"> 
                                                                        <!-- property binding -->
    </div>
    <div>
        <input [(ngModel)]="psw" id="p1" name="pwd" class="form-control mt-2 p-2" type="password" placeholder="enter password">
    </div>
    <button (click)="login()" class="btn btn-info mt-2 p-2 text-center">Login</button>
    <p class="mt-2 text-white">don't have account? <a routerLink="register" style="text-decoration: none;" class="text-warning">create account</a></p>
</form> 